doctype html
html
  head
    title New Loan
    link(rel='stylesheet', href='stylesheets/style.css')
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/all_books') Books
      li
        a(href='/all_patrons') Patrons
      li
        a(href='/all_loans') Loans
  include ./error
  body
    h1 New Loan
    form(method='post', action='/loansNew')
      p
        label(for='book_id') Book
        select#book_id(name='book_id')
          each book in books
            option(value=book.id, name='title')=book.title
      
      p
        label(for='patron_id') Patron
        select#patron_id(name='patron_id')
          each patron in patrons
            option(value=patron.id)=patron.first_name + ' ' + patron.last_name
         
      p
        label(for='loaned_on') Loaned on (Format: YYYY-MM-DD):
        input#loaned_on(type='text',name='loaned_on', value=now) 
      p
        label(for='return_by') Return by (Format: YYYY-MM-DD):
        input#return_by(type='text', name='return_by', value=dueDate) 
      p
        input(type='submit', value='Create New Loan')
